.cadaProducto {
    width: 100%;
    max-width: 400px;
    background: #e9a20785;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: justify;
    margin: 1rem;
    list-style: none;
}

.cadaProducto:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.btn-eliminar {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background: #e77a05;
    color: white;
    cursor: pointer;
    ;
}

.btn-eliminar:hover {
    background: #dc2626;
}
